:root{
  color-scheme: dark;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main{
  position : relative;
  background: url("background.png") no-repeat 0 0/ 100%;
}
.hidden{
  display: none;
}
.front{
  z-index: 3;
}
.intro, .stats, .game-over, .help, #app{
  position : absolute;
  left: 50%;
  transform: translate(-50%);
}
main, #app, .intro, .game-over, .help{
  margin-inline: auto;
  aspect-ratio: 16/9;
  width: min(99.5vh /9 * 16, 100vw);
}
.intro h1, .game-over h1{
  margin-block-start: 8vmin;
  font-size : 12vmin;
  text-align: center;
}
.intro .btn-container{
  margin-block-start: 10vmin;
  display : flex;
  gap: 4vmin;
  justify-content: center;
}
.intro .btn-container button, .game-over button{
  font-size: 6vmin;
  padding: 1vmin 2vmin;
  border-radius: 2vmin;
  background-color: rgb(22, 85, 5);
  cursor: pointer;
}
.intro .btn-container button:hover{
  background-color: rgb(18, 57, 8);
}
.help{
  padding-inline: 12vmin;
  font-size: 3vmin;
  overflow-y: auto;
}
.help h1{
  margin-block-start: 5vmin;
  font-size : 10vmin;
  text-align: center;
}
.help h2{
  font-size: 4.5vmin;
  margin-block-end: 2vmin;
}
.help h3{
  font-size: 4vmin;
  margin-block: 2vmin;
}
.help .goals{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2vmin 4vmin;
  align-items: center;
}
.help .goals img{
  display: block;
  margin: auto;
}
.help button{
  display: block;
  margin-block: 3vmin;
  margin-inline: auto;
  font-size: 4vmin;
  padding: 1vmin 2vmin;
  border-radius: 2vmin;
  background-color: rgb(22, 85, 5);
  cursor: pointer;
}
.game-over{
  background-color: rgba(0,0,0,0.5);
}
.game-over button{
  display: block;
  margin-block-start: 12vmin;
  margin-inline: auto;
}
.stat-bar{
  display: flex;
  padding: 2vmin;
  font-size: 5vmin;
  gap: 4vmin;
}
.stat-bar > div::before{
  content: attr(data-label);
}
.stat-bar .score{
  margin-left: auto;
}

.stats{
  margin-inline: auto;
  width: min(99.5vh /9 * 16, 100vw);
  bottom: 0;
}
#app{
  display: block;

}
#alien-viewport{
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  height: 20vh;
  aspect-ratio: 14/25;
  overflow: hidden;
}
#alien{
  --offset-x: 0%;
  height: 100%;
  translate: var(--offset-x);
}
.pellet{
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  width: 0.3vmax;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgba(255, 129, 22, 0.75);
}